apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
  labels:
    ingress.tmaxcloud.org/name: argocd
spec:
  rules:
  - host: argocd.{{ custom_domain_name }} # 이 {{ }} 부분을 유효한 DNS로 바꿔줘야 합니다.
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: argocd-server
            port: 
              name: https
  tls:
  - hosts:
    - argocd.{{ custom_domain_name }}
    secretName: argocd-secret # do not change, this is provided by Argo CD
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: argo-rollouts-dashboard
  namespace: argo-rollouts
spec:
  ingressClassName: tmax-cloud
  rules:
  - host: argorollouts.{{ custom_domain_name }} # 이 {{ }} 부분을 유효한 DNS로 바꿔줘야 합니다.
    http:
      paths:
      - backend:
          serviceName: argo-rollouts-dashboard
          servicePort: 3100
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - argorollouts.{{ custom_domain_name }}
